@page "/chartdemo2"

@using ChartJs.Blazor.Util
@using ChartJs.Blazor.PieChart

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="container">
    <h1 class="title">
        Doughnut ChartJS.Blazor Example!
    <span class="icon-group">
        <span class="icon-group">
            <i class="fas fa-globe fa-1.5x icon"></i>
            <i class="fas fa-mobile-alt fa-1.5x icon"></i>
                <i class="fas fa-desktop fa-1.5x icon"></i>
                <i class="fas fa-gamepad fa-1.5x icon"></i>
                <i class="fas fa-robot fa-1.5x icon"></i>
                <i class="fas fa-users-cog fa-1.5x icon"></i>
                <i class="fas fa-cogs fa-1.5x icon"></i>
        </span>
    </span>
</h1>
<Chart Config="_pieConfig"></Chart>
</div>
<style>
    h1 {
        width: 500px;
        margin: 0 auto;
        background: gray;
        text-align: center;
    }
    .icon-group {
        margin-right: 20px;
        margin-left: 20px;
        width:500px;
        text-align: center;
        display: flex;
        gap: 10px;
    }

    .icon {
        color: #2edaff; /* Puedes ajustar el color según tus preferencias */
    }

    .container {
        text-align: center;
    }

    .title {
        position: relative;
        color: #fff;
        background: linear-gradient(to right, #3498db, #9b59b6);
        padding: 20px;
        border-radius: 10px;
    }

    .highlight-shape {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 10px;
        background-color: #e74c3c;
        border-radius: 5px;
    }
</style>




@code {
    private PieConfig _pieConfig;

    protected override void OnInitialized()
    {
        configurePieConfig();
    }

    private void configurePieConfig()
    {
        _pieConfig = new PieConfig();

        _pieConfig.Options = new PieOptions
            {                
                CutoutPercentage = 50,
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Chart Doughnut"
                }
            };

        foreach (var party in new[] { "Red", "Blue", "Yellow", "Green", "Purple", "Orange" })
        {
            _pieConfig.Data.Labels.Add(party);
        }

        var dataset = new PieDataset<int>(new[] { 12, 19, 3, 5, 2, 3 })
            {
                BackgroundColor = new[]
                    {
                    ColorUtil.ColorHexString(255,0,0),
                    ColorUtil.ColorHexString(0,0,255),
                    ColorUtil.ColorHexString(255,255,0),
                    ColorUtil.ColorHexString(144, 238,144),
                    ColorUtil.ColorHexString(128, 0, 128),
                    ColorUtil.ColorHexString(255, 165, 0)
                }
            };

        _pieConfig.Data.Datasets.Add(dataset);

    }
}